*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(235, 235, 235);
}
nav{
    background-color: white;
    /* border: 1px solid red;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

nav .img{
    /* border: 1px solid black; */
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .img h2{
    font-size: 22px;
    margin-left: 4px;
    font-family: sans-serif;
}
nav #list{
    /* border: 1px solid green; */
    height: 35px;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #list ul{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}

#list ul li{
    list-style-type: none;
    margin: 0 18px;
    padding: 0 5px;
    
}

#list ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

header .head{
    background-color: #224b3b;
    border: 1px solid black;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.head .head1{
    /* border: 1px solid red; */
    width: 520px;
    margin-left: 80px;
}

.head .head1 h1
{
    color: white;
    font-size: 46px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.head .head1 p{
    color: rgb(193, 193, 193);
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 10px;
}


/* .train2 
{
    width:700px;
    padding-right: 300px;
    font-family: sans-serif;
    color: #2f2f2f;
    
    
    /* border:1px solid red; */

/* .img1
{
    display: flex;
}
.img2
{
    display: flex;
} */
.train2 h3
{
    font-size: 32px;
    
    
}
.train2 p
{
    font-size: 14px;
    /* width: 400px; */
    
    
}

/* .train1 .train4
{
    display: flex;
    flex-direction: column;
} */
/* .footer
{
    background-color:rgb(255,255,255);
    border: 1px solid black;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
} */
/* .train4
{
    display: flex;
} */
.thirdsec 
{
    padding: 0px 112px;
    
    
}
.thirdsec h1
{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.thirdsec .products img
{
    width: 200px;
    height: 200px;
    
    padding: 0px 50px 50px 50px;
}

.footer
{
    width: 100%;
    /* position: absolute; */
    /* background-color:rgb(255,255,255); */
    background-color: #224b3b;;
    bottom: 0;
    padding: 100px 0 30px;
    font-size: 14px;
    line-height: 22px ;
    /* border: 1px solid black;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center; */
   
}
.row
{
    width: 80%;
    margin: auto;
    display: flex;
}
