*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(235, 235, 235);
}
nav{
    background-color: white;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .img{
    /* border: 1px solid black; */
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .img h2{
    font-size: 14px;
    font-family: sans-serif;
}
nav #list{
    /* border: 1px solid green; */
    height: 35px;
    width: 300px;
    display: flex;
    align-items: center;
}

nav #list ul{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}

#list ul li{
    list-style-type: none;
    margin: 0 5px;
    padding: 0 5px;
    font-size: 12px;
    font-family: sans-serif;
}