*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(235, 235, 235);
}
nav{
    background-color: white;
    /* border: 1px solid red;  */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

nav .img{
    /* border: 1px solid black; */
    width: 130px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .img h2{
    font-size: 22px;
    margin-left: 4px;
    font-family: sans-serif;
}
nav #list{
    /* border: 1px solid green; */
    height: 35px;
    width: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav #list ul{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
}

#list ul li{
    list-style-type: none;
    margin: 0 18px;
    padding: 0 5px;
    
}

#list ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}

header .head{
    background-color: #224b3b;
    border: 1px solid black;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.head .head1{
    /* border: 1px solid red; */
    width: 520px;
    margin-left: 80px;
}

.head .head1 h1{
    color: white;
    font-size: 46px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.head .head1 p{
    color: rgb(193, 193, 193);
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.head .btn{
    /* border: 1px solid red; */
    margin-top: 20px;
    cursor: pointer;
}

.head .btn #shop{
    padding: 10px 20px;
    background-color: rgb(176, 130, 12);
    border-radius: 15px;
    font-size: 20px;
    color: black;
}

.head .btn #explore{
    padding: 10px 15px;
    border: 2px solid rgba(255, 255, 255, 0.3); 
    background: transparent;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    
}
.head .btn #explore:hover{
    background-color: transparent;
    border: 2px solid gainsboro; 
}
.head .btn #shop:hover{
    
    border: 2px solid gainsboro; 
}


#explore {
    padding: 10px 15px;
    border: 2px  rgba(255, 255, 255, 0.3); 
    background: #2f2f2f;
    border-radius: 15px;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
  }
  
  /* Hover effect */
  #explore:hover {
    background-color: black;
  }
  

.head .head2{
    /* border: 1px solid red; */
    margin-right: 80px;
}
.head .head2 img{
    width: 380px;
    height: 380px;

}

nav ul li a:hover{
    border-bottom: 2px solid rgb(5, 61, 5);
    }


.firstsec {
    padding: 112px;
    display: flex;
}

.main1 {
    width: 520px;
    margin-left: 80px;
    font-family: sans-serif;
    color: #2f2f2f;
}

.main1 h2{
    font-size: 32px;
}

.main1 p{
    font-size: 14px;
    width: 400px;
    padding: 30px 0px 30px 0px;
    
}
.main2 {
    border: #224b3b;
    display: flex;
    padding: 80px;
}
.main2 img
{
    width: 200px;
    height: 200px;
    padding: 0px 50px 50px 50px;
}
.main2 h3
{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 50px;
    padding: 0px 70px;
    
}
.main2 p
{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 50px;
    padding: 0px 110px;
}
.secondsec
{
    padding: 112px;
    display: flex;
    border: 1px solid red;
}
.train1
{
    width: 900px;
    margin-left: 80px;
    font-family: sans-serif;
    color: #2f2f2f; 
    border:1px solid red;
    
}
.train2 
{
    width:700px;
    padding-right: 300px;
    font-family: sans-serif;
    color: #2f2f2f;
    
    
    border:1px solid red;
}
.train2 h3
{
    font-size: 32px;
    
    
}
.train2 p
{
    font-size: 14px;
    /* width: 400px; */
    
    
}

.train3
{
    border:1px solid red;
    /* padding-left: 80px; */
}
.train1 .train4
{
    display: flex;
    flex-direction: column;
}

